<h1>Login</h1>
<div id="mensajes"></div>
<br>    

<form class="form-control " action="/login" method="GET">
  <input type="text" name="username" placeholder="Su nombre">
  <input type="submit" /> 
</form>