<h1>Login</h1>

<form class="form-control " action="/login" method="POST">
  <input type="text" name="username" placeholder="Su usuario">
  <input type="text" name="password" placeholder="Su contraseña">
  <input type="submit" /> 
</form>

<form class="form-control " action="/register" method="GET">
  <input type="submit" value="ir a register"/> 
</form>