<script>
var socket = io();
function log(){
	let name = document.getElementById('user').value
	socket.emit('new-user', name);
	console.log(name)
	return false;
/*req.session.user=name
console.log(req.session.user)*/
}
</script>
<h1>Login</h1>
<div id="mensajes"></div>
<br>    
<form class="form-control "onsubmit="log();return false" style="margin:20px;">
	<input type="text" id="user" placeholder="Su nombre">
	<input type="submit" value="log">
</form>