	<style>
		#del {
			position: absolute;
			top: 0px;
			right: 0px;
		}
	</style>
    <h1>Venta de productos</h1>
    <form onsubmit="return enviar(this)" style="margin:20px;">
        <input type="text" id="titulo" placeholder="nombre">
        <input type="text" id="precio" placeholder="precio">
        <input type="text" id="foto" placeholder="imagen(url)">
		<input type="submit" value="guardar">
	</form>
<div ></div>

<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr>
						<th class="text-center">
							Nombre
						</th>
						<th class="text-center">
							Precio
						</th>
						<th class="text-center">
							Imagen
						</th>
					</tr>
				</thead>
				<tbody id="tabla">        
                    {{#each productos}}
                    <tr id='addr0'>
						<th class="text-center">
							{{this.nombre}}
						</th>
                        <th class="text-center">
							{{this.precio}}$
						</th>
						<th>
						<div class="col-md-4">
							<img src="{{this.foto}} " width="20%">
						</th>
                    {{/each}}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<h1>Chat en línea</h1>
<div id="mensajes"></div>
<br>
<form class="form-control "onsubmit="return enviarMensaje(this)" style="margin:20px;">
	<input type="text" id="id" placeholder="Su nombre...">
	<input type="text" id="nombre" placeholder="Su nombre...">
	<input type="text" id="apellido" placeholder="Su apellido...">
	<input type="number" id="edad" placeholder="Su edad...">
	<input type="text" id="alias" placeholder="Su alias...">
	<input type="text" id="avatar" placeholder="Su avatar...">
	<input type="text" id="text" placeholder="Su texto...">
	<input type="submit" value="enviarMensaje">
</form>