	<style>
		#del {
			position: absolute;
			top: 0px;
			right: 0px;
		}
	</style>
    <h1>Venta de Productos</h1>
	<div id=del onClick=vaciar()>.</div>
    <form class="form-control onsubmit="return enviar(this)">
        <input type="text" id="title" placeholder="nombre">
        <input type="text" id="price" placeholder="precio">
        <input type="text" id="thumbnail" placeholder="imagen(url)">
		<input type="submit" value="guardar">
	</form>
<div ></div>

<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr>
						<th class="text-center">
							Nombre
						</th>
						<th class="text-center">
							Precio
						</th>
						<th class="text-center">
							Imagen
						</th>
					</tr>
				</thead>
				<tbody id="tabla">        
                    {{#each productos}}
                    <tr id='addr0'>
						<th class="text-center">
							{{this.title}}
						</th>
                        <th class="text-center">
							{{this.price}}$
						</th>
						<th>
						<div class="col-md-4">
							<img src="{{this.thumbnail}} " width="20%">
						</th>
                    {{/each}}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<h1>Chat en línea</h1>
<div id="mensajes"></div>
<br>
<form class="form-control "onsubmit="return enviarMensaje(this)">
	<input type="text" id="mail" placeholder="Su nombre...">
	<input type="text" id="texto" placeholder="Su mensaje...">
	<input type="submit" value="a">
</form>