<h1>Register</h1>

<form class="form-control " action="/login" method="GET">
  <input type="text" name="username" placeholder="Su usuario">
  <input type="text" name="password" placeholder="Su contraseña">
  <input type="submit" /> 
</form>

<form class="form-control " action="/login" method="GET">
  <input type="submit" value="ir a login"/> 
</form>